{% extends 'base_withNav.html' %}

{% block title %} Add Product - Grocery Store  {% endblock title %}

{% block content %}

<div class="container-fluid col-8 align-center">
    <h1 class="text-center m-3">Edit Product</h1>
    <form method="POST" action={{"/edit_product/" + product.id | string }} >
        <div class="mb-3">
            <label for="product_name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="product_name" value={{product.name}} name="product_name" required>
        </div>
        <div class="row mb=3">
            <div class="col-6">
                <label for="selling_price" class="form-label">Selling Price</label>
                <input type="number" class="form-control" id="selling_price" value={{product.selling_price}} name="selling_price" required>
            </div>
            <div class="col-6">
                <label for="cost_price" class="form-label">Cost Price</label>
                <input type="number" class="form-control" id="cost_price" value={{product.cost_price}} name="cost_price" required>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" required>{{product.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" value={{product.stock}} required>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label for="mfg_date" class="form-label">Manufacturing Date</label>
                <input type="date" class="form-control" id="mfg_date" name="mfg_date" value={{product.manufacturing_date}} required>
            </div>
            <div class="col-6">
                <label for="expiry_date" class="form-label">Expiry Date</label>
                <input type="date" class="form-control" id="expiry_date" name="expiry_date" value={{product.expiry_date}} required>
            </div>
        </div>
        <div>
            <label for="category" class="form-label">Category</label>
            <select class="form-select" id="category" name="category" required>
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category['id'] }}">{{ category['name'] }}</option>
                {% endfor %}    
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Edit  Product</button>
    </form>
</div>

        

{% endblock content %}