<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand h-1" href="#">Grocery Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if session['user'] %}
            {% if session['role']== 'admin' or session['role']== 'store_manager' %}
              <li class="nav-item">
                  <a class="nav-link" href={{url_for('add_category')}}>Add Category</a>
              </li>
            {% endif %}
            {% if session['role']== 'store_manager' %}
              <li class="nav-item">
                  <a class="nav-link" href={{url_for('add_product')}}>Add Product</a>
              </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href={{url_for('logout')}}>Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome {{ session['user'] }}</a>
            </li>

          {% else %}
            <li class="nav-item">
                <a class="nav-link" href={{ url_for('login')}}>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{url_for('register')}}>Register</a>
            </li>   
          {% endif %}
        </ul>
        <form class="d-flex" role="search" action="/search" method = 'POST'>
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>